body
{
    margin: 0;
    font-family: 'Source Sans Pro', 'sans-serif';
}
.topo
{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(23, 216, 223);
    padding: 10px;
}

.logo img
{
    width: 180px;
    height: 90px;
}
nav a 
{
    text-decoration: none;
    font-size: 21px;
    color: white;
    padding: 11px;
}
.banner
{
    height: 550px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 21px;
    background-image: url(Imagens/recepcao.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.Sobre
{
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 19px;
}
.Sobre_titulo
{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 615px;
}
.lista_1
{
    display: flex;
    flex-direction: row-reverse;
}
.Especialidades
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.Especialidades_titulo
{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 660px;
}
.Especialidades_titulo p
{
    font-size: 20px;
}
.cads img
{
    width: 300px;
    height: 200px;
}
.cads 
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    text-align: center;
    height: 300px;
}    

.ORTOPEDIA
{
    box-shadow: 0px 0px 8px gray;
    height: 250px;
    border-radius: 2px;
}

.PEDIATRIA
{
    box-shadow: 0px 0px 8px gray;
    height: 250px;
    border-radius: 2px;
}
.GERIATRIA
{
    box-shadow: 0px 0px 8px gray;
    height: 250px;
    border-radius: 2px;
}
.botao_1 a 
{
    text-decoration: none;
    color: white;
    background-color: rgba(10, 218, 233, 0.856);
    padding: 17px 30px 17px 30px;
    font-weight: bold;
    box-shadow: 0px 0px 3px gray;
}
.contatos
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 325px;
    line-height: 20px;
}
span
{
    font-weight: bold;
}
.mapa iframe
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    width: 90%;
    margin: 2px auto 90px auto;
}
footer
{
    text-align: center;
    height: 350px;
    line-height: 28px;
    background-color: rgba(24, 94, 82, 0.918);
    width: 95%;
    margin: 2px auto 2px auto;
    color: white;
    font-size: 20px;
}

@media (max-width: 768px)
{
    body 
    {
        overflow-x: hidden;
    }
    .topo 
    {
          height: 150px;
          display: flex;
          flex-direction: column;
          
    }
    nav
    {
        border-top: 1px solid;
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        width: 95%;
    }
    .topo a
    {
         padding: 10px;
    }
    .banner
    {   
        height: 200px;
        display: flex;
        font-size: 13px;
    }
    .img_medico img 
    {
        display: none;
    }
    .Sobre 
    {
        font-size: 18px;
    }
    .Sobre_titulo p 
    {
        width: 450px;
        margin: 5px auto 20px auto;
    }
    .Especialidades
    {
        font-size: 18px;
    }
    .Especialidades_titulo p 
    {
        width: 450px;
        margin: 5px auto 20px auto;
    }
    .cads
    {
        height: 900px;
    }
    .botao_1
    {
        padding: 30px;
    }
    footer
    {
        font-size: 18px;
    }
}

@media (max-width: 425px)
{
    body 
    {
        overflow-x: hidden;
    }
    .topo 
    {
          height: 150px;
          display: flex;
          flex-direction: column;
          
    }
    nav
    {
        border-top: 1px solid;
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        width: 95%;
    }
    .topo a
    {
         padding: 10px;
    }
    .banner
    {   
        height: 200px;
        display: flex;
        font-size: 13px;
    }
    .img_medico img 
    {
        display: none;
    }
    .Sobre 
    {
        font-size: 18px;
    }
    .Sobre_titulo p 
    {
        width: 400px;
        margin: 5px auto 20px auto;
    }
    .Especialidades
    {
        font-size: 18px;
    }
    .Especialidades_titulo p 
    {
        width: 400px;
        margin: 5px auto 20px auto;
    }
    .cads
    {
        height: 900px;
    }
    .botao_1
    {
        padding: 30px;
    }
    footer
    {
        font-size: 18px;
    }
}
 /* Estilo botões */

 .link:hover
 {
    width: 190px;
    height: 95px;
 }


 .link_1:hover  
 {
    color: rgba(0, 0, 0, 0.781);
    font-size: 25px;
    font-weight: bold;
 }
 .botao_1:hover a 
 {
    background-color: orange;
    color: black;
    font-weight: bold;
 }

